.navbar {
  background-color: #111;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}
/* Evita desbordamiento horizontal */
body, html {
  overflow-x: hidden;
}

/* Navbar que no empuje el layout */
.navbar ul {
  flex-wrap: wrap;
}
