.navbar {
  width: 100%;
  background-color: rgba(17, 17, 17, 0.85);
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 12px 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-item a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-item a:hover {
  background-color: #00c853;
  color: white;
}
