/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fondo general con flex para centrar todo */
.app {
  min-height: 100vh;
  width: 100%;
  background-image: url('https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/3489700/ss_02282b4eb4c8b13129a13908b85840dbf2168644.jpg?t=1747321345');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR centrado horizontalmente */
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  max-width: 600px;
  margin-top: 6rem;  
}


/* Botón bonito */
.cta-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #00c853;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #00b342;
}
